# Dependencies
node_modules/
dist/
.env

# Logs
*.log
logs/
auth_error.log

# WhatsApp Session Data
**/baileys_auth_info/
**/.wwebjs_cache/
**/whatsapp-qr.png

# IDE and OS
.vscode/
.idea/
.DS_Store
Thumbs.db

