services:
  - type: web
    name: aslan-cafe
    runtime: node
    plan: free
    buildCommand: npm install && npm run build
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: MONGO_URI
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: GEMINI_API_KEY
        sync: false
      - key: BOSS_NUMBER
        sync: false
      - key: PAYPACK_CLIENT_ID
        sync: false
      - key: PAYPACK_CLIENT_SECRET
        sync: false
      - key: FRONTEND_URL
        value: https://aslan-cafe.onrender.com
