* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-image: linear-gradient(80deg, rgb(5, 124, 172), rgb(199, 10, 114));
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
}

/* BOX */
form {
  background: #fff;
  width: 90%;
  max-width: 350px;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.25);
}

/* TITLE */
form h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #333;
}

/* INPUTS */
form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 15px;
}

form input:focus {
  outline: none;
  border-color: #2a5298;
}

/* BUTTON */
form button {
  width: 100%;
  padding: 12px;
  background: #2a5298;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

form button:hover {
  background: #1e3c72;
}

/* MESSAGE */
#message {
  margin-top: 10px;
  text-align: center;
  color: red;
  font-size: 14px;
}

/* LINKS */
p {
  text-align: center;
  margin-top: 15px;
}

a {
  color: #2a5298;
  text-decoration: none;
  font-weight: bold;
}