body {
  margin: 0;
  padding: 0;
  min-height: 60vh;
  background-image: linear-gradient(80deg, rgb(5, 124, 172), rgb(199, 10, 114));
  overflow: hidden;
  font-family: 'poppins';

}

#up {
  position: absolute;
  height: 800px;
  width: 800px;
  border-radius: 50%;
  background-image: linear-gradient(80deg, rgb(5, 124, 172), rgb(43, 247, 202, 0.5));
  filter: blur(80px);
  animation: down 40s infinite;
}

#down {
  position: absolute;
  right: 0;
  height: 500px;
  width: 500px;
  border: 50%;
  border-radius: 50%;
  background-image: linear-gradient(80deg, rgba(245, 207, 82, 0.8), rgba(199, 10, 144));
  filter: blur(80px);
  animation: up 30s infinite;
}

#left {
  position: absolute;
  height: 500px;
  width: 500px;
  border-radius: 50%;
  background-image: linear-gradient(80deg, rgba(5, 124, 172), rgba(183, 253, 52, 0.8));
  filter: blur(80px);
  animation: left 30s 1s infinite;
}

#right {
  position: absolute;
  height: 500px;
  width: 500px;
  border-radius: 50%;
  background-image: linear-gradient(80deg, rgba(26, 248, 18, 0.6), rgba(199, 10, 52, 0.8));
  filter: blur(80px);
  animation: left 40s .5s infinite;
}

@keyframes down {

  0%,
  100% {
    top: -100px;
  }

  70% {
    top: 700px;
  }
}

@keyframes up {

  0%,
  100% {
    buttom: -100px;
  }

  70% {
    buttom: 700px;
  }
}

@keyframes left {

  0%,
  100% {
    left: -100px;
  }

  70% {
    left: 1300px;
  }
}

@keyframes right {

  0%,
  100% {
    right: -100px;
  }

  70% {
    right: 700px;
  }
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 2;

}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-position: center;
}

.login-box {
  position: relative;
  width: 90%;
  max-width: 400px;
  min-height: 400px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 35px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px 30px;
}

h2 {
  font-size: 2em;
  color: #ffffff;
  text-align: center;
  margin-bottom: 30px;
  cursor: default;
}

.login-box .input-box {
  position: relative;
  width: 100%;
  margin-bottom: 30px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.6);
}

.input-box .icon {
  position: absolute;
  right: 10px;
  color: #00000098;
  font-size: 1.2em;
  line-height: 45px;
}

.input-box input {
  width: 100%;
  height: 40px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #ffffff;
  padding: 0 35px 0 5px;
}

.input-box label {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  color: #ffffff;
  pointer-events: none;
  transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
  top: -12px;
  font-size: 12px;
}


.input-box input:focus {
  border-bottom: 2px solid #ffffff;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.315);

}


.remember-forgot {
  margin: -5px 0 20px;
  font-size: .9em;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.remember-forgot label input {
  margin-right: 2px;

}

.remember-forgot a {
  color: #ffd700;
  text-decoration: none;
}

/* Sign Up Button */
button {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: none;
  background: linear-gradient(135deg, #057cac, #00ffdd);
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 30px;
  transition: 0.3s;
}

button:hover {
  box-shadow: 0 0 15px #000000ab;
  background: linear-gradient(90deg, rgba(0, 204, 255, 0.522), rgba(158, 10, 199, 0.571));
  background-size: 105%;
  color: #fff;
}

.register-link {
  font-size: .9em;
  color: #ffffff;
  text-align: center;
  margin-top: 20px;
}

.register-link p a {
  color: #00ffdd;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
}

@media (max-width: 360px) {
  .login-box {
    width: 100%;
    height: 100vh;
    border: none;
    border-radius: 0;
  }

  .input-box {
    width: 290px;
  }
}

input::-ms-reveal,
input::-ms-clear {
  display: none !important;
}

input::-webkit-credentials-auto-fill-button,
input::-webkit-clear-button,
input::-webkit-inner-spin-button,
input::-webkit-password-toggle {
  display: none !important;
  visibility: hidden;
  -webkit-appearance: none;
}


/* IMAGE SLIDER */
.image-slider {
  position: absolute;
  right: 300px;
  top: 50%;
  transform: translateY(-50%);
  width: 420px;
  height: 480px;
  margin-right: 250px;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.613);
  z-index: 3;
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);



}


.image-slider img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: 2s ease-in-out;
}

.image-slider img.active {
  opacity: 1;
}

/* DOTS */
.dots {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  z-index: 5;
}

.dots span {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4);
  cursor: pointer;
  transition: background 0.3s, transform 0.3s;
}

.dots span.active {
  background: white;
  transform: scale(1.4);
}

#message {
  display: none;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 6px;
  font-weight: 500;
}

.success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.error {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}